<ion-view title="About ScubaBrain" cache-view="false" align-title="center">
  <ion-nav-bar class="nitroxMenu">
    <ion-nav-buttons side="left" class="bar bar-header bar-assertive">
      <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header bodyElement paneBackground" padding="true">

    <!-- End the what is this card -->
    <div class="card">
      <div class="item item-divider bar bar-header nitroxMenu headingText">
       Why?
      </div>

      <div class="item item-text-wrap">
        <p>
          When performing gas analysis on tanks I got sick of trying to figure out what the maximum operating depth of a mix was on the spot. Its easy enough if you get the same blend all of the time but when it varies its good to have at least a table handy so you can ensure the tank labelled correctly. I always have my phone with me so I decided to put some some of the more common calculations used by divers together for easy reference.
        </p>

        <br />

        <div class="tableContainer">
          <img src="img/diver_west.png"/>
        </div>

        <a href="#/app/home" class="button button-block button-energized ion-home">
          Home
        </a>        
      </div>        
    </div>      
    <!-- End the what is this card -->

  </ion-content>
</ion-view>