<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bodyElement paneBackground" padding="true">

    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       What is this?
      </div>

      <div class="item item-text-wrap">
        <p>
          This code was wrtten by <a href="http://www.anthony-mills.com">Anthony Mills</a> as he got sick of looking up the MOD for high percentage Nitrox mixes when getting his stage bottle filled. So wrote this code and released an app called ScubaBrain for <a href="https://play.google.com/store/apps/details?id=com.anthony_mills.scubabrain&hl=en">Android</a> and IOS. The code has also been released for others in a hope that they might find it useful to use and extend upon.
        </p>

        <br />

        <p>If you are interested in the project and want access to the source code. It can be accessed from <a href="https://github.com/anthony-mills/scubabrain" title="ScubaBrain on github">the repository on Github</a>.</p>
        <div class="tableContainer">
          <img src="img/diver_west.png"/>
        </div>

        <br />

        <a href="https://play.google.com/store/apps/details?id=com.anthony_mills.scubabrain&hl=en" class="button button-block button-energized">
            ScubaBrain on Google Play
        </a> 

        <br />

        <a href="https://github.com/anthony-mills/scubabrain" class="button button-block button-energized">
            ScubaBrain on Github
        </a>                
      </div>        
    </div>      
    <!-- End the what is this card -->

    <!-- End the missing creature card -->
  </ion-content>
</ion-view>