<ion-view title="ScubaBrain" align-title="center">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bodyElement paneBackground" padding="true">
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
          Disclaimer
      </div>


      <div class="item item-text-wrap">
          <p>This application is provided as is with out any liabilty taken for any injury or damage that arises form its use. Scuba diving in general carries inherent risks and certain protocols must be followed to ensure safety.</p>

          <br />

          <p>Do not use this application unless you have been properly trained and certified in the use of by an appropriate agency. Failure to do so could result in major injury or death.</p>

          <div class="tableContainer">
            <img src="img/death_skull.png"/>
          </div>
          <a href="#/app/home" class="button button-block button-energized ion-home">
            Home
          </a>
      </div>
    </div>
  </ion-content>
</ion-view>
