<ion-view title="Emergency Contacts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bodyElement paneBackground" padding="true">

    <!-- America contact details -->
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       America
      </div>

      <div class="item item-text-wrap">
        Diver Alert Network ( DAN )
        <a href="tel:+19196849111" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          +1-919-684 9111 
        </a>

      </div>        
    </div>

    <!-- Australia contact details -->
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       Australia
      </div>

      <div class="item item-text-wrap">
        Diver Alert Network ( DAN ) 
        <a href="tel:1800088200" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          1800-088 200 (Inside Australia)
        </a>

        <a href="tel:+61882129242" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          1800-088 200 (Outside Australia)
        </a>

        Prince of Wales Hospital
        <br />
        Department of Diving and Hyperbaric Medicine
        <a href="tel:0293822222" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          02 93822222
        </a>
      </div>        
    </div>

    <!-- Europe contact details -->
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       Europe
      </div>

      <div class="item item-text-wrap">
        Diver Alert Network ( DAN )
        <a href="tel:+390642118685" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          +39-06-4211 8685
        </a>
      </div>        
    </div>

    <!-- Japan contact details -->
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       Japan
      </div>

      <div class="item item-text-wrap">
        Diver Alert Network ( DAN )
        <a href="tel:+81338124999" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          +81-3-3812-4999 
        </a>
      </div>        
    </div>

    <!-- New Zealand contact details -->
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       New Zealand
      </div>

      <div class="item item-text-wrap">
        Diver Emergency Service ( DES )
        <a href="tel:08004337111" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          0800-4337-111
        </a>
      </div>        
    </div>  
    
    <!-- South Africa contact details -->
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
       South Africa
      </div>

      <div class="item item-text-wrap">
        Diver Alert Network ( DAN )
        <a href="tel:0800020111" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          0800-020-111 (Inside South Africa)
        </a>
        <a href="tel:+27102098112" class="item item-icon-left button button-block button-positive">
          <i class="icon ion-android-call"></i>
          +27-10-209-8112 (Outside South Africa)
        </a>        
      </div>        
    </div> 
  </ion-content>
</ion-view>