<ion-view title="ScubaBrain" align-title="center"  cache-view="false" >
  <ion-nav-bar class="nitroxMenu">
    <ion-nav-buttons side="left" class="bar bar-header bar-assertive">
      <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
    </ion-nav-buttons>
  </ion-nav-bar> 

  <ion-content class="has-header bodyElement paneBackground" padding="true">
    <div class="card">
      <div class="item item-divider bar bar-header nitroxMenu headingText" >
          Main Menu
      </div>

      <div bindonce="menuItems">
        <ion-list>

          <ion-item href="#/app/emergency-contacts">Emergency Contacts</ion-item>

          <ion-item href="#/app/nitrox-ead">Nitrox EAD</ion-item>    

          <ion-item href="#/app/max-depth">Nitrox MOD Calculator</ion-item> 

          <ion-item href="#/app/max-depth-table">Nitrox MOD Table</ion-item>  

          <ion-item href="#/app/partial-pressure">Partial Pressure Calculator</ion-item>

          <ion-item href="#/app/bar-psi">BAR / PSI Conversion</ion-item>

          <ion-item href="#/app/feet-metres">Feet / Metres Conversion</ion-item>                                                          
          <ion-item href="#/app/disclaimer">Disclaimer</ion-item>                          

          <ion-item href="#/app/settings">Settings</ion-item>           
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
