<ion-side-menus>
  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-arrow-left-c"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" expose-aside-when="large" class="sideMenu">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <div id="side-menu">
        <br />
        <ion-list>
          <ion-item nav-clear menu-close href="#/app/home" class="menuEntries">
            <i class="icon ion-home button-energized"></i> Home
          </ion-item>

          <ion-item nav-clear menu-close href="#/app/about">
            <i class="icon ion-person-stalker"></i> About
          </ion-item>

          <ion-item nav-clear menu-close href="#/app/settings">
            <i class="icon ion-home"></i> Settings
          </ion-item>        

        </ion-list>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
