<ion-view title="ScubaBrain" align-title="center">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-hide="$exposeAside.active"></button>
  </ion-nav-buttons>
  <ion-content class="has-header bodyElement paneBackground" padding="true">
    <div class="card">
      <div class="item item-divider bar bar-header bar-assertive headingText">
          Settings
      </div>


      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item item-toggle">
             Imperial Measurements
             <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="useImperial" ng-init="useImperial = depthUnit">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>

        <div class="tableContainer">
          <img src="img/diver_angle_west.png"/>
        </div>
        <button ng-click="saveSettings(useImperial)" class="button button-block button-energized ion-settings">
          Save 
        </button>         
      </div>
    </div>
  </ion-content>
</ion-view>
